@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  font-size: 16px;
  line-height: 30px;
  color: #231f20;
}

h1 {
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.bold {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}

.semi_bold {
  font-weight: 500;
  font-size: 20px;
}

.cv_container {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: flex-start;
}

.cv_left {
  width: 30%;
  background: #76cdd8;
  position: relative;
  min-width: 225px;
  padding-bottom: 75px;
}

.cv_profile {
  width: 100%;
}

.cv_content {
  padding: 10px 25px 0 25px;
}

.cv_item {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  padding-top: 17.5px;
}

.regular {
  text-transform: none;
}

.cv_right {
  display: block;
  width: 70%;
  padding-left: 30px;
}

.right_title {
  text-transform: uppercase;
  font-size: 21px;
}

.title_underline {
  height: 5px;
  width: 75px;
  background: #76cdd8;
  margin-bottom: 10px;
  margin-top: -1px;
}

.title_img {
  width: 30px;
  height: 30px;
  padding: 5px;
  margin-right: 7px;
  background-color: #76cdd8;
}

.code_ex_arrea {
  background: #3d3d41;
  width: 100%;
  padding: 30px 0;
  border: 5px solid #76cdd8;
  margin-top: 5px;
  text-transform: none;
}

.code_text {
  margin-left: 20%;
  margin-right: auto;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #ffffff;
}

.js_keyword {
  color: #c078d9;
}

.js_w_or {
  color: #e5c07b;
}

.js_w_gr {
  color: #97be6a;
}

.js_w_bl {
  color: #61afef;
}

.projects_gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 800px;
  margin-bottom: 20px;
}

.project_item {
  display: block;
  margin-bottom: 30px;
}

.project_item img {
  max-width: 350px;
  height: 350px;
  opacity: 0.6;
  transition: 0.5s ease-in-out;
}
.project_item img:hover {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.progect-desc {
  text-transform: none;
  max-width: 350px;
  font-size: 17px;
  line-height: 1.4rem;
  color: #30727a;
}

.project_line {
  height: 450px;
  width: 5px;
  background-color: #76cdd8;
}

.footer {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: flex;
  background: #3d3d41;
  padding: 20px 25px;
  margin: auto;
  color: #ffffff;
  position: relative;
  justify-content: space-between;
}

.footer_item {
  display: inline-block;
  width: 100%;
  position: relative;
  text-align: center;
  padding-top: 5px;
}

.Education {
  padding-bottom: 15px;
  text-transform: none;
}

.footer_icon {
  width: 70px;
}

.adress {
  text-transform: none;
  font-size: 16px;
  color: #30727a;
}

.date_style {
  font-style: italic;
  color: #30727a;
}

.title_arrea {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  max-width: 560px;
  justify-content: space-around;
  background-color: #76cdd8;
  padding: 10px;
  margin-top: 0;
  margin-left: -30px;
}

.nav {
  font-weight: 500;
  transition: 0.5s;
}

.nav:hover {
  color: #30727a;
  transition: 0.5s;
}

mark {
  background: #e4e4e4;
}

.progect-tools{
  color: #8a8a8a;
  font-size: 15px;
}

.pr-spacer{
  display: none;
}

.codewars{
  width: 100%;
  margin-top: 10px;
}

.burger {
  display: none;
}
.burger:hover{
  cursor: pointer;
}

.line1 ,.line2, .line3 {
  width: 40px;
  height: 4px;
  background-color: #000;
  display: block;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 770px) {
  .burger{
    margin: 20px;
    display: block;
  }
  .burger.open {
    position: relative;
    left: 55px;
  }
  .burger.open .line1 {
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .burger.open .line2 {
    opacity: 0;
  }
  
  .burger.open .line3 {
    transform: rotate(45deg) translate(-12px, -7px);
  }

  .header_nav{
    position: absolute;
    top: 0;
    right: 10px;
    max-width: 700px;
    background-color: #76cdd8;
    margin: 0 auto;
    overflow-x: hidden;
  }

  .progects {
    margin: 0 20px;
  }
  .pr-spacer{
    width: 10px;
  }
  .cv_left {
    width: 100%;
    padding-bottom: 15px;
  }
  header {
    display: flex;
  }
  .cv_profile {
    margin: auto;
    max-width: 320px;
  }

  .cv_content {
    padding: 5px 10px;
    text-align: center;
  }

  .cv_right {
    padding: 5px 20px;
    width: 100%;
  }
  .navigation{
    display: none;
  }
  .navigation.open {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    font-size: 26px;
  }
  .navigation_item{
    padding: 15px;
  }
  .projects_gallery{
    justify-content:space-around;
  }
}

